appdirs==1.4.4
certifi==2022.12.7
chardet==4.0.0
idna==3.3
numpy==1.22.1
pandas==1.4.0
pyee==8.2.2
pyppeteer==1.0.2
python-dateutil==2.8.2
pytz==2021.3
requests==2.31.0
six==1.16.0
tqdm==4.62.3
urllib3==1.26.8
websockets==10.1
